
$settings: set-default((
    "button": (
        "base": (
            "font-size": get("font-sizes/base"),
            "spacing": 10px 15px,
            "margin": 0,
            "border-radius": 100px,
            "color": white,
        ),

        "variation": (
            "primary": (
                "background": linear-gradient(get("colors/primary-lighter-1"), get("colors/primary-darker-1")),
                "border": 1px solid get("colors/primary-darker-3"),
            ),
            "secondary": (
                "background": linear-gradient(get("colors/primary-darker-1"), get("colors/primary-lighter-1")),
                "border": 1px solid get("colors/primary-lighter-3"),
            ),
        ),

        "shape": (
            "squared": (
                "border-radius": 3px,
            ),

            "rounded": (
                "border-radius": 100px,
            ),
        ),

        "size": (
            "small": (
                "spacing": 5px 10px,
                "font-size": get("font-sizes/zeta"),
            ),

            "large": (
                "spacing": 20px 30px,
                "font-size": get("font-sizes/delta"),
            ),
        ),
    ),
)) !global;
