@import "typography/mixins/typography";

@mixin button($name:"base", $properties:(), $base:true) {

    @if $base {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        font-family: inherit;
        cursor: pointer;
        margin: 0;
        border: 0;

        &,
        &:hover,
        &:visited,
        &:focus,
        &:active
        {
            text-decoration: none;
        }

        &:focus {
            outline: none;
        }

        // IE8 ignores blocks with selectors containing :disabled
        &:disabled {
            cursor: not-allowed;
        }

        &.button--disabled,
        &[disabled] {
            cursor: not-allowed;
        }

        $properties: get("button/base");
    }

    @if $name {
        $properties: map-merge($properties, get("button/variation/#{$name}") or ());
    }


    line-height: get("line-height", $properties);
    color: get("color", $properties);
    padding: get("spacing", $properties);
    background: get("background", $properties);
    border: get("border", $properties);
    border-radius: get("border-radius", $properties);
    font-size: get("font-size", $properties);
    box-shadow: implode(get("box-shadow", $properties));
    width: get("width", $properties);
}

// Button shapes

@mixin button--shape($shape) {
    $properties: get("button/shape/#{$shape}");

    border-radius: get("border-radius", $properties);
}

// Button sizes

@mixin button--size($size) {
    $properties: get("button/size/#{$size}");

    padding: get("spacing", $properties);
    font-size: get("font-size", $properties);
    line-height: get("line-height", $properties);
    width: get("width", $properties);
}

@mixin link-button() {
    @include anchor($placeholder:false);

    margin: 0;
    padding: 0;
    display: inline;
    width: auto;
    border: none;
    border-radius: 0;
    text-align: left;
    // white-space: nowrap;
    font-size: 100%;
    font-family: inherit;
    line-height: inherit;
    cursor: pointer;
    background: transparent;
}
