@import "buttons/functions/buttons";

@mixin button($properties:(), $base:true) {
    @if $base {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        font-family: inherit;
        text-transform: uppercase;
        cursor: pointer;

        &,
        &:hover,
        &:visited,
        &:focus,
        &:active
        {
            text-decoration: none;
        }
    }

    @each $name, $property in $properties {
        @if $name != "description" {
            #{$name}: #{$property};
        }
    }
}
