
@mixin button($name:"base", $properties:(), $base:true) {

    @if $base {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        font-family: inherit;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0;

        &,
        &:hover,
        &:visited,
        &:focus,
        &:active
        {
            text-decoration: none;
        }

        &:focus {
            outline: none;
        }

        // IE8 ignores blocks with selectors containing :disabled
        &:disabled {
            cursor: not-allowed;
        }

        &.button--disabled,
        &[disabled] {
            cursor: not-allowed;
        }

        $properties: get("button/base");
    }

    @if $name {
        $properties: map-merge($properties, get("button/variation/#{$name}") or ());
    }


    color: get("color", $properties);
    padding: get("spacing", $properties);
    background: get("background", $properties);
    border: get("border", $properties);
    border-radius: get("border-radius", $properties);
    font-size: get("font-size", $properties);
    box-shadow: get("box-shadow", $properties);
}

// Button shapes

@mixin button--shape($shape) {
    $properties: get("button/shape/#{$shape}");

    border-radius: get("border-radius", $properties);
}

// Button sizes

@mixin button--size($size) {
    $properties: get("button/size/#{$size}");

    padding: get("spacing", $properties);
    font-size: get("font-size", $properties);
}
